---
---

:root {
    --background: #000;
    --background-secondary: #007;
    --primary: #eee;
    --link: #d6a7ff;
    --secondary: #003fac;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1020px) {
    .project-wrapper {
        display: grid;
        grid-template-columns: 1;
    }
}

@media screen and (min-width: 1020px) {
    .project-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }    
}

body {
    background-color: var(--background);
    font-family: monospace;
    color: var(--primary);
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 3em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2em;
}
p {
    font-size: 1.5em;
}

.navbar {
    position: absolute;
    z-index: 2;
    height: 2em;
    width: 100%;
    padding-top: 1%;
}

.navbar a {
    z-index: 3;
    font-size: 2em;
    text-decoration: none;
    color: var(--primary);
    padding-left: 2%;
}

.navbar a:hover {
    color: var(--link);
}

.content {
    padding: 5% 5%;
    min-height: 100vh;
    background: linear-gradient(var(--background), var(--background-secondary));
}

#index-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom left, var(--background-secondary), var(--background));
}

#particles {
    position: relative;
    width:100%;
    height:90%;
}

.pfp {
    position: absolute;
    top: 30%;
    left: 20%;
    border-radius: 50%;
}

#typing {
    position: absolute;
    top: 60%;
    left: 20%;
    color: var(--primary);
    white-space: pre-wrap;
    border-right: 4px solid var(--primary);
    font-size: 2em;
}

#title-name {
    position: absolute;
    font-size: 3em;
    top: 55%;
    left: 20%;
    animation: shadow-animation 3s infinite;
}

@keyframes shadow-animation {
    0% {
        text-shadow: 10px 5px 10px #9af;
    }
    50% {
        text-shadow: none;
    }
    100% {
        text-shadow: 10px 5px 10px #9af;
    }
}

.project {
    display: inline-block;
    text-decoration: none;
    color: var(--primary);
    border: var(--primary) 1px solid;
    padding: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    border-radius: 5%;
    transition: text-shadow 0.5s ease-in-out;
}

.project img {
    max-width: 30%;
}

.project:hover {
    text-shadow: 10px 5px 10px #9af;
}

.contacts-wrapper {
    text-align: center;
    list-style: none;
    font-size: 1.5em;
}

.contacts-wrapper li a {
    text-decoration: none;
    color: var(--primary);
}

.contacts-wrapper li a:hover {
    color: var(--link);
}